    /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding-top: 100px;
}

.mega-space{
    margin: 120px 0;
}

.space {
    margin: 25px 0 ;
}

.mini-space{
    margin: 15px 0;
}

.space-left{
    padding-right: 5px;
}

.space-center {
    width: 100%;
}

    /* HEADER */
header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

.flex-container{
    display: flex;
    max-width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    position: static;
}

.form-link{
    text-decoration: none;
    color: black;
}

.bnt-blue{
    background-color: #0061ff;
    padding: 12px 20px;
    color: white;
    border: #0061ff;
}

.bnt-blue:hover {
    cursor: pointer;
    text-decoration: none;
}

.inline-li {
    display: inline;
    margin: 0 10px;
}

    /* MAIN */

.color-back {
    background-color: #b4d0e7;
}

.main-container-top {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    padding-top: 70px;
    font-size: 75px;
    margin-bottom: 40px;
}

.arrow-size {
    font-size: 40px;
}

.img-flex {
    display: flex;
    width: 100%;
}

.base-flex{
    flex-basis: 30%;
}

.img-size{
    width: 840px;
    flex-basis: 70%; 
    position: absolute;
}
    
    /* main-center */
    
.main-container-center {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;

}

.container-table-flex{
    display: flex;
    justify-content: space-between;
}

.divTable{
    display:  table;
    width:  30%;
    border: 0.1px solid black;
    padding-bottom: 20px;
}

.color-blue{
    color: #0061ff;
}

.size-spcecial{
    font-size: 25px;
}

.divTable li {
    display: flex;
}

.divHead{
    display:  table; 
    width: 100%;
    border-bottom: 0.1px solid black;
}

.headRow{
    text-align: center;
    padding: 5px;
}

.divRow{
    width:auto;
}

.divCell{
    padding: 20px;
}

.row-hr{
    width: 20%;
    padding-left: 20px;
}

.div-table-row {
    width:  100%;
    border: 0.1px solid black;
}

.head-row{
    border-bottom: 0.1px solid black;
}

.flex-container-table{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-container-table ul{
    width: 60%;
}

.img-display-main {
    display: flex;
    width: 100%;
    flex-basis: 60%;
}

.size-small-part {
    padding: 30px;
    flex-basis: 40%;
}

.bnt-white {
    background-color: white;
    padding: 12px 20px;
    color: black;
    border: 1px solid black;
}

.bnt-white:hover {
    cursor: pointer;
    text-decoration: none;
}

.img-flex-wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.img-flex-second {
    display: flex;
    width: 100%;
}

.top-container{
    padding: 25px 10px;
    width: 33.3%;
}

.down-container {
    padding-top: 10px 0;
}

.h2-special{
    font-size: 40px;
    width: 60%;
    margin-bottom: 40px;
    margin-top: 200px;
}

.img-flex-ten{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
}

.img-flex-forty{  
    display: flex;
    flex-basis: 40%;
    padding: 10px 30px;
    align-items: flex-start;
    background-color: #f5f5f5;
    flex-wrap: wrap;
    align-content: flex-start;
}

.img-flex-forty .row-hr{
    width: 30%;
    color: lightgray;
    padding: 50px 0;
}

.img-width{
    width: 100%;
}

.inside-div{
    padding: 70px 30px;
}

.div-color-lightgreen{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
    height: 50%;
}

.div-color-bordeaux{
    background-color: #61082b;
    height: 50%;
}

.div-color-blue{
    background-color: #0093ce;
    height: 50%;
}

.div-color-orange{
    background-color: #ff1c1c;
    height: 50%;
}

.div-color-red{
    background-color: #d5001f;
    height: 50%;
}

.div-color-darkblue{
    background-color: #0d2481;
    height: 50%;
}

.div-color-lightgrey{
    background-color: #b4d0e7;
    height: 50%;
}

.div-color-yellow{
    background-color: #ffd830;
    height: 50%;
}

