    /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding-top: 100px;
}

.mega-space{
    margin: 120px 0;
}

.space {
    margin: 25px 0 ;
}

.mini-space{
    margin: 15px 0;

}

.space-center {
    width: 100%;
}

    /* HEADER */
header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

.flex-container{
    display: flex;
    max-width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    position: static;
}

.form-link{
    text-decoration: none;
    color: black;
}

.bnt-blue{
    background-color: #0061ff;
    padding: 12px 20px;
    color: white;
    border: #0061ff;
}

.bnt-blue:hover {
    cursor: pointer;
    text-decoration: none;
}

.inline-li {
    display: inline;
    margin: 0 10px;
}

    /* MAIN */

.color-back {
    background-color: #b4d0e7;
}

.main-container-top {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    padding-top: 70px;
    font-size: 75px;
    margin-bottom: 40px;
}

.arrow-size {
    font-size: 40px;
}

.img-flex {
    display: flex;
}

.small-part {
    padding: 10px;
    flex-basis: 40%; 

}

.img-size{
    width: 840px;
    flex-basis: 60%; 
    position: absolute;
    z-index: 0;
}
    
    /* main-center */
    
.main-container-center {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;

}

.container-table-flex{
    display: flex;
    justify-content: space-between;
}

.divTable{
    display:  table;
    width:  30%;
    border: 0.1px solid black;
    padding-bottom: 20px;
}

.color-blue{
    color: #0061ff;
}

.size-spcecial{
    font-size: 25px;
}

.divHead{
    display:  table; 
    width: 100%;
    border-bottom: 0.1px solid black;
}

.headRow{
    text-align: center;
    padding: 5px;
}

.divRow{
    width:auto;
}

.divCell{
    padding: 20px;
}

.row-hr{
    width: 20%;
    padding-left: 20px;
}

.div-table-row {
    width:  100%;
    border: 0.1px solid black;
}

.head-row{
    border-bottom: 0.1px solid black;
}

.flex-container-table{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.img-display-main {
    display: flex;
    width: 100%;
    flex-basis: 40%;
}

.size-small-part {
    padding: 30px;
    flex-basis: 60%;
}

.bnt-white {
    background-color: white;
    padding: 12px 20px;
    color: black;
    border: 1px solid black;
}

.bnt-white:hover {
    cursor: pointer;
    text-decoration: none;
}